<h5>Student & Instructor Login</h5>
<form class="" action="index.html" method="post">
  <label>Username: </label>
  <input type="text" name="name">
  <label>Password: </label>
  <input type="password" name="password">
  <input type="submit" name="submit" value="Submit" class="button">
</form>
